.gpt3__brand {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem 0;
}

.gpt3__brand div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
